body {
    background-image: url("assets/spaceTexture.png");
    background-size: contain;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    font-family: 'Termina', Arial, sans-serif; /* Use Termina font */
}

header {
    margin-bottom: 0rem;
    background: #000000;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
    opacity: 85%;
    border-radius: 2rem;
    margin-bottom: 3rem;
    
}

header nav #logo {
    height: 9rem;
    width: auto;
}

header nav ul {
    height: 50px;
    width: auto;
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    background-color: black;
    background-repeat: repeat;
    background-size: contain;
    padding: 20px;
    margin: 5% 15%;
    color: white;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
